*{
	text-align: center;


}
body{
	
	    height: 100vh;
    margin: 0; /* Remove default margin */
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
/*	justify-content: space-around;*/
/*	height: 90vh;*/
	
}

.flex-button{
	width: 100%;
	
}
button {
/*	position: absolute;
	top: 50%;*/
	margin: 50px;
	height: 30px;
	width: 100px;
	border-radius: 12px;
	background: black;
	color: white;
	cursor: pointer;
}
.name{
	width: 100%;
	justify-content: center;
	align-items: center;
}
